@font-face {
  font-family: 'MyCustomFont';
  src: url('../assets/styles/Avenixel-Regular.ttf') format('truetype');
  font-weight: 1;
}

body {
  background-image: url('../assets/BG_Login.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

form {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; 
  width: 90%;
  max-width: 500px;
  
  z-index: 1;
  padding: 20px;
  border-radius: 10px;

}

.header {
  color: #EE8CAE;
  text-align: center;
  font-size: 70px; 
  font-weight: 1000;
  margin-bottom: 10px;
  text-shadow: 6px 3px 2px #181834;
  font-family: 'MyCustomFont';
}

label {
  font-size: 20px;
  color: white;
  font-family: 'MyCustomFont';
  align-self: flex-mid; 
  margin-left: 10px;
  margin-right: 230px;
 
}

.login {
  width: 100%; 
  max-width: 170px; 
  margin-top: 50px;
  padding: 10px;
  background-color: #CA5F93;
  text-decoration: none;
  border-radius: 9px;
  color: azure;
  cursor: pointer;
}

input {
  border-radius: 5px;
  border: 1px solid #CA5F93;
  background-color: #393867;
  color: rgb(246, 245, 247);
  width: 100%; 
  max-width: 300px; 
  height: 40px;  
  padding: 5px;
  align-self: flex-mid;
}
.username1{
  margin-bottom: 30px;

}




@media (max-width: 768px) {
  .header {
      font-size: 40px;
  }
  form {
      margin: 10% auto;
      width: 95%;
  }
  input, .login {
      max-width: 90%;
  }
  label {
      margin-left: 5px;
  }
}


@media (max-width: 480px) {
  .header {
      font-size: 30px;
  }
  form {
      margin: 15% auto;
      width: 100%;
  }
  input, .login {
      max-width: 100%;
  }
  label {
      font-size: 16px;
  }
}
